{% load compress %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="noindex,nofollow" />

    <link rel="shortcut icon" href="{{ MEDIA_URL }}/images/favicon.ico">

    {% compress css %}
    {% endcompress %}

    <title>{% block title %} {{ settings.TITLE }} {% endblock %}</title>
</head>

<body>

    {% block content %}
    {% endblock %}


    {% if settings.DEBUG %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    {% else %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    {% endif %}

    <!-- Google Analytics -->
    {% if settings.GOOGLE_ANALYTICS_ID %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', {{ settings.GOOGLE_ANALYTICS_ID|safe }}]);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    {% endif %}
    <!-- Google Analytics -->


    {% compress js %}

        {% block extrajs %} {% endblock %}

    {% endcompress %}

</body>
</html>



